node_modules/

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
.idea/
.vscode/
.cache/
.tmp/
tmp/

.tex

coverage/
.nyc_output/

.env
.env.*
!.env.example

*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lol
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc
*.xdv

*.pdf
